
body {
    background-color: rgb(156, 178, 199);
}



/* 整體 table 顏色 */
table {
    background-color: #FFFFFF;
    border-collapse: collapse;
    border-spacing: 0px 20px;
    border: 0.3px dashed gray;
    width: 100%; /* 新增這行 */
    text-wrap: nowrap;
    font-size: 1.4rem;
    
    
}
@media screen and (max-width:900px) {
    table {
        background-color: #FFFFFF;
        border-collapse: collapse;
        border-spacing: 0px 20px;
        border: 0.3px dashed gray;
        width: 100%; /* 新增這行 */
        text-wrap: nowrap;
        font-size: 1rem;
        margin-left: 1%;
        
    }
}

h2{
    font-size: 2.5rem;
    
    
}

/* 整體 input 顏色 */
input {
    background-color: #b3bdc2;
}

button {
    width: auto;
    background-color: #C58484;
    text-wrap: nowrap;
    border-radius: 5px;
}

/* 左側按鈕 */
.leftbtn {
    color: #FFFFFF;
    font-size: 1.5rem;
    height: 100px;
    border-radius: 8px;
    background-color: #C58484;
    margin-bottom: 10px;
}

.leftbtn:hover {
    background-color: rgb(125, 74, 69);
}

.leftbtn:focus {
    background-color: rgb(125, 74, 69);
}

/* 一個方框包裹住右側內容 */
/* 初始樣式 */
.rightsection {
    

    grid-column-start: 3;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;

    display: grid;
    grid-template-columns: auto; /* 只需要一個 column，整個 rightsection 就是這一欄 */
    grid-template-rows: auto 1fr auto; /* 設置行高 */

    position: relative;
    top: 2px;
    border: 3px dashed black;
    font-size: 1.6rem;
    width: auto;
    height: auto;
    box-sizing: border-box;
    background-color: antiquewhite;
    box-shadow: 5px 5px black;
    
    padding: 25px;
    
}

.rightsection table
{
width: 100%;
max-width: 100%;
}

/* 在螢幕寬度小於 1199px 時修改樣式 */
@media screen and (max-width: 1199px) {
    .rightsection {
        width: 100%;
        overflow: auto; 
        height: auto;
        
        
    }
}

.rightsection table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.mygrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr 2fr 2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px 1fr 30px ;
}

aside {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-wrap: nowrap;
    margin-left: -10%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

    align-self:center ;
}

.parent-of-myflexcontainer {
    display: flex;
    flex-direction: row;
    /* 其他樣式 */
}

.myflexcontainer {
    display: flex;
    flex-direction: row; /* 確保父元素使用 flex 且方向為水平排列 */
    overflow: hidden;
}

table th {
    border: 1px dashed gray;
    padding: 15px;
}

table tr {
    border: 1px dashed gray;
    padding: 15px;
}

table td {
    border: 1px dashed gray;
    padding: 15px;
}

/* 不同內容各自的 grid */

#updateproduct {
    grid-template-columns: 500px 1fr 2fr 1fr;
    grid-template-rows: 100px 2fr;
}

#updateproduct h2 {
    margin-left: 2%;
    margin-top: 2%;

    white-space: nowrap;
}

#updateproduct table {
    grid-area: 2/1/3/4;
    width: 100%; /* 新增這行 */
}

#updateproduct img {
    grid-area: 2/4/3/5;
    /*justify-self: center;*/
}

#updateproduct .theupload {
    grid-area: 2/4/3/5;
    /*align-self: center;*/
}

#updateproduct button {
    grid-area: 4/4/5/5;
}

#orderlist
{
    
    display: flex;
    flex-direction: row;

}

#updateproduct .theupload {
    grid-area: 2/4/3/5;
    /*align-self: center;*/
    width: 10vw;
    height:20vh;
    border:2px solid black;
    cursor: pointer;
    position: relative;
    top: 17px;
    justify-self: center;
    margin-left: 10px;
    margin-right: 10px;
    
}

#updateproduct >img {
    width: 10vw;
    height:20.5vh;
    background: white;
    position: relative;
    top: 17px;

    justify-self: center;
    margin-left: 10px;
    margin-right: 10px;
    
    
}
@media screen and (max-width: 900px) {
    #updateproduct .theupload {
        grid-area: 3/1/4/2; /* 例如，移动到下一行的第一列 */
        font-size: 0.8rem;
        width: 20vw;
        height: 20vh;
        
        justify-self:left;
    }
    #updateproduct >img {
        grid-area: 3/1/4/2; /* 设置为下一列，确保不与 .theupload 重叠 */
        width: 20.5vw;
        height: 20.5vh;
       
        justify-self:left;
    }
    #updateproduct button {
        grid-area: 4/3/5/4; /* 设置为下一列，确保不与 .theupload 重叠 */
        width: 120px;
        height: 30px;
    }
}

#productlist table {
    grid-area: auto;
    width: 100%; /* 新增這行 */
}

/* ====== */
#Pform1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}
#Pform1 input
{
    margin-top: 5%;
    
}
@media screen and (max-width: 1180px) {
   
    #Pform1 {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%; /* 調整為合適的寬度百分比 */
        max-width: 400px; /* 設定最大寬度，避免在螢幕過寬時元素過大 */
        height: auto;
        
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
    }

    
    #Pform1 span  {
        
        display: block;
     }
   
}




#Pover, #Preset {
    background-color: #C58484;
    color: white; /* 設置文字顏色為白色，以確保對比度 */
}