*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}
html{
    font-size: 10px;
}
body
{
    background-image: url("/images/paw_mosaicbg.png");
    display: block;
}

/*.all{*/
/*    height: 70%;*/
/*}*/
.logosize{
    margin-top: 1px;
    margin-left: 20px;

}
.mylink{
    margin-top: 100px;
    margin-left: 20px;

}
.leftcontain
{

    height: 100vh;
    width: 25%;
    float: left;
}
.searching{

    margin: 10px;
}
.searchinput
{
    width: 295px;
}
@media  screen and (max-width: 900px) {
    .searchinput
{
    width: 125px;
}
}
.searchcheck
{
    position: relative;
    border: 3px dashed black;
    background-color: rgba(255,247,239,0.60);
    border-radius: 15px;
    box-shadow: 10px 10px gray;
    height: 60%;
    padding: 8%;
}
.searchimg
{
    width: 28px;
    height: 25px;
    margin-bottom: -5px;

}
.searchbtn
{
    background-color: transparent;
    border: none;
    padding-left: 3px;

}
.searchbtn:hover
{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
/*條件標題。*/
.articlesize
{
    margin: 5px;
    font-size: 2rem;
    font-weight: bold;
}

.optionbox
{
    margin: 5px;


    font-size: 0.8rem;
    text-align: left;
}
.optiontext
{
    font-size: 2rem;
}
.optionagetext
{
    font-size: 1.7rem;
}
.clearbtn
{
    color: white;
    background-color: #C58484;
    border-radius: 5px;
    font-size: 1.5rem;
    position: absolute;
    bottom: 10px;
    left: 40%;
    padding: 8px;
}
.picbox
{

    margin: 20px;

}
.picshadow
{
 box-shadow: 5px 5px darkgray;
    border-radius: 85px;
    margin: 0 auto;
    display: block;
}
.rightcontain
{
    position: relative;
    padding-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    height: auto;
    width: 70%;

    border: 3px dashed black;
    padding-bottom: -15px;
    background-color: rgba(238,221,204,0.60);
    border-radius: 45px;

    padding-top: 35px;
    margin-bottom: 20px;
    box-shadow: 10px 10px gray;
}

.rightcontain >div
{
    width: 17.5%;
}
.footercontain{
    height: auto;
    background-color: #892B2B;
}
/*領養按鈕*/
.adoptbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: nowrap;

}
.btncolor
{
    color: white;
    background-color: #C58484;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 8px;
}
.pagebtnup{
    color: white;
    background-color: #C58484;
    border-radius: 5px;
    font-size: 1.5rem;
   position: absolute;

    left:10px;
    bottom:10px;
    padding: 8px;
    margin-bottom: 10px;

}
.pagebtndown{
    color: white;
    background-color: #C58484;
    border-radius: 5px;
    font-size: 1.5rem;
    text-align:right;
    position: absolute;

    right:10px;
    bottom:10px;
    padding: 8px;
    margin-bottom: 10px;
}
@media  screen and (max-width: 900px) {
    .pagebtnup{
        color: white;
        background-color: #C58484;
        border-radius: 5px;
        font-size: 1.5rem;
       position: absolute;
    
        left:10px;
        bottom:10px;
        padding: 8px;
        margin-bottom: -80px;
    
    }
    .pagebtndown{
        color: white;
        background-color: #C58484;
        border-radius: 5px;
        font-size: 1.5rem;
        text-align:right;
        position: absolute;
    
        right:10px;
        bottom:10px;
        padding: 8px;
        margin-bottom: -80px;
    }
}
.nametext
{
    text-align: center;
    font-size: 2rem;
    padding: 5px;
}
/*==*/

