body {
    background-image: url("/src/main/resources/static/images/paw_mosaicbg.png");
    margin: 0; /* 为了去掉body的默认边距 */
}

.reggrid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 100px minmax(100px, 2fr) 1fr;
    gap: 10px;
}

/* 屏幕宽度小于等于 768px */
@media screen and (max-width: 768px) {
    .reggrid {
        grid-template-columns:  1fr ;
        grid-template-rows: auto;
    }

    .reggrid::before {
        margin-right: 0; /* 在小屏幕下去掉右边距 */
    }
}

/* 屏幕宽度小于等于 480px */
@media screen and (max-width: 480px) {
    .reggrid {
        grid-template-columns: 1fr ;
        grid-template-rows: 100px minmax(100px, 2fr) 1fr;
    }

    .reggrid::before {
        margin-bottom: 0; /* 在更小的屏幕下去掉底部距离 */
    }
}

.reggrid button > span {
    white-space: nowrap;
}

.reggrid::before {
    content: " ";
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    display: block;
    margin-top: 0;
    margin-left: -5%; /* 使用相对单位来调整 */
    margin-right: -5%; /* 使用相对单位来调整 */
    margin-bottom: -5%; /* 使用相对单位来调整 */
    box-sizing: content-box;
    padding-top: -10%; /* 使用相对单位来调整 */
    border: 2px dashed #000;
    box-shadow: 10px 10px darkgray;
    background-color: rgba(197, 132, 132, 0.25);
    border-radius: 15px;
    z-index: -1;
}

.myrow {
    display: flex;
    flex-direction: row;
    margin: 5px;
}

.updateimg,
.mysection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    margin: 5px;
}

.updateimg {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.mysection {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.mysection span {
    text-align: left;
    padding-bottom: 4.5%;
    display: block;
}

.regbtn {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
    margin: 30px;

}

.reggrid button {
    background-color: #C58484;
    color: white;
    width: auto;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 15px;
    font-size: 1.6rem;
}
