<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>後台畫面</title>
    
    <link rel="stylesheet" href="/css/allCss.css">
    <link rel="stylesheet" href="/css/backstage.css">

    <!-- jquery js -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>

    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</head>

<body>
<!-- 載入 header.html -->
<header th:insert="fragments/header :: header"></header>

<main >
    <!-- Start Content -->

    <!-- 內容放這邊 -->

    <form class="mygrid" action="upload_Product" enctype="multipart/form-data" method="post">
        <aside>
            <button onclick="btn1()" class=" leftbtn">
                上架周邊
            </button>
            <button  onclick="btn4()" class=" leftbtn">
                周邊商品列表
            </button>
            <button onclick="btn2()" class=" leftbtn">
                訂單資料
            </button>
            <button  onclick="btn3()" class=" leftbtn">
                會員資料操作
            </button>
        </aside>

        <!--    右側整體內容-->
        <article class="rightsection">
            <!-- 後台主頁 -->

            <div id="mainpage"  >
                <h2>歡迎來到後台系統!</h2>
                <table>
                    <tr th:each="member:${memberData}">
                        <td>登入管理者名稱:</td>
                        <td th:text="${member.getName()}">admin01</td>
                    </tr>
                    <tr>
                        <td>登入IP位址:</td>
                        <td id="ip-address">127.0.0.1</td>
                    </tr>
                    <tr>
                        <td>登入時間:</td>
                        <td id="server-time">2024年10月8日 22:30</td>
                    </tr>
                </table>

            </div>
            <!-- 上架商品頁 -->

            <div id="updateproduct" >

                <h2 >上架商品</h2>

                <table class="mytable2">
                    <tr>
                        <td>商品ID:</td>
                        <td><label for="CommodityID"></label><input type="text" class="inputcss" id="CommodityID" name="CommodityID" required="required"></td>
                    </tr>
                    <tr>
                        <td>商品名稱:</td>
                        <td><label for="CommodityName"></label><input type="text" class="inputcss" id="CommodityName" name="CommodityName" required="required"></td>
                    </tr>
                    <tr>
                        <td>規格:</td>
                        <td><label for="size"></label><input type="text" class="inputcss" id="size" name="size" required="required"></td>
                    </tr>
                    <tr>
                        <td>分類:</td>
                        <td><label for="CommodityKind"></label><input type="text" class="inputcss" id="CommodityKind" name="CommodityKind" required="required"></td>
                    </tr>
                    <tr>
                        <td>庫存:</td>
                        <td><label for="Inventory"></label><input type="text" class="inputcss" id="Inventory" name="Inventory" required="required"></td>
                    </tr>
                    <tr>
                        <td>售價:</td>
                        <td><label for="Price"></label><input type="text" class="inputcss" id="Price" name="Price" required="required"></td>
                    </tr>
                    <tr>
                        <td>成本價:</td>
                        <td><label for="Cost"></label><input type="text" class="inputcss" id="Cost" name="Cost" required="required"></td>
                    </tr>
                    <tr>
                        <td>細節:</td>
                        <td><label for="Detail"></label><input type="text" class="inputcss" id="Detail" name="Detail" required="required"></td>
                    </tr>
                </table>

                <!-- 上傳商品部分 -->
                <img src=""  id="imagePreview">
                <label for="fileInput" class="theupload"  id="In2" >商品照片</label>
                <input type="file" style="display: none" id="fileInput" name="fileInput" multiple accept="image/*">
                <button type="submit">上架</button>
    </form>

    </div>

    </div>
    <!-- 訂單資料頁 -->
    <div id="orderlist">
        <h2>訂單</h2>
        <table class="ordertable">
            <thead>
            <tr>
                <th>訂單編號</th>
                <th>客戶UID</th>
                <th>金額</th>
                <th >下單日期</th>
                <th>出貨日期</th>
                <th>狀態</th>
                <th>出貨方式</th>
                <th>檢貨員ID</th>
                <th>狀態變更</th>
            </tr>
            </thead>
            <tbody th:each="order:${orderlist}">
            <tr>
                <td th:text="${order.getOrderNumber()}" id="orderNumber">訂單編號</td>
                <td  th:text="${order.getGuestName()}">客戶名字</td>
                <td  th:text="${order.getOrderAmount()}">金額</td>
                <td  th:text="${order.getOrderDate()}">下單日期</td>
                <td  th:text="${order.getShippedDate()}" id="shippedDate1">出貨日期</td>
                <td  th:text="${order.getStatus()}" id="status1">狀態</td>
                <td  >出貨方式</td>
                <td  th:text="${order.getPicker()}">檢貨員ID</td>
                <td>
                    <button class="button2" th:attr="data-ordernumber=${order.getOrderNumber()},data-status=${order.getStatus()}">撿貨</button>
                    <button class="button1" th:attr="data-ordernumber=${order.getOrderNumber()},data-status=${order.getStatus()}">出貨</button>
                </td>
            </tr>

        </table>

        <div class="orderbtn">
            <button class="pagebtn">上一頁</button>
            <button class="pagebtn">下一頁</button>
        </div>

    </div>
    <!-- 會員資料頁 -->
    <div id="memberlist">
        <h2>會員帳號列表</h2>
        帳號搜尋:<input id="myInput" type="text" placeholder="Search.." style="width: 20%;"><br>

        <table  class="ordertable" id="myTable">
            <thead>
            <tr>
                <td>會員帳號</td>
                <td>會員權限</td>
                <td>權限更改</td>
            </tr>
            </thead>
            <tbody th:each="member:${memberList}" id="memberditail">
            <tr class="membershow">
                <td class="username" th:text="${member.username}">username</td>
                <td th:text="${member.Employee}">Employee</td>
                <td >
                    <button class="button0" th:attr="data-username=${member.username}">封鎖</button>
                    <button class="button1" th:attr="data-username=${member.username}">會員</button>
                    <button class="button2" th:attr="data-username=${member.username}">管理員</button>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="orderbtn">
            <button id="Mreviousbtn">上一頁</button>
            <button id="MNextbtn">下一頁</button>
        </div>
    </div>
    <!-- 商品列表頁 -->
    <div id="productlist">
        <h2>周邊商品操作</h2>
        商品搜尋:<input id="productsearch" type="text" placeholder="Search.." style="width: 20%;"><br>

        <table  class="ordertable">
            <thead>
            <tr>
                <td>商品ID</td>
                <td>商品名稱</td>
                <td>商品類別</td>
                <td>商品規格</td>
                <td>商品庫存</td>
                <td>商品售價</td>
                <td>商品成本</td>
                <td>功能</td>
            </tr>
            </thead>
            <tbody th:each="shop:${shopping}" id="productdetail" >
            <tr class="productshow">
                <td class="username" th:text="${shop.getCommodityID()}" id="getCommodityID">ID</td>
                <td th:text="${shop.getCommodityName()}">名稱</td>
                <td th:text="${shop.getCommodityKind()}">類別</td>
                <td th:text="${shop.getSize()}">規格</td>
                <td th:text="${shop.getInventory()}">庫存</td>
                <td th:text="${shop.getPrice()}">售價</td>
                <td th:text="${shop.getPrice()}">成本</td>
                <!--                功能-->
                <td>
                    <button class="button4" th:attr="data-pid=${shop.getCommodityID()}">編輯</button>
                    <button class="button5" th:attr="data-remove=${shop.getCommodityID()}">下架</button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="orderbtn">
            <button id="Previousbtn">上一頁</button>
            <button id="PNextbtn" >下一頁</button>
        </div>
    </div>
<!--    商品編輯功能頁-->
    <div class="Ptablebox" id="Pform1" style="display: none">
        <form  style="font-size: 20px" action="editover"
               method="post">
            商品ID:<input  type="text" id="eCommodityID" name="CommodityID">
            商品名稱:<input  type="text" id="eCommodityName" name="CommodityName"><br>
            商品類別:<input type="text" id="eCommodityKind" name="CommodityKind">
            商品規格:<input type="text" id="eSize" name="Size"><br>
            商品庫存:<input type="text" id="eInventory" name="Inventory">
            商品售價:<input type="text" id="ePrice" name="Price"><br>
            商品成本:<input type="text" id="eCost" name="Cost">
            商品細節:<input type="text" id="eDetail" name="Detail">

            <input id="Pover" type="submit" value="更改">
            <input id="Preset" type="reset" value="取消">
            <!-- <p style="margin-right: 10px; cursor: pointer;" id="login_up3" class="login_text2">取消</p> -->
        </form>
    </div>

    </article>



    </form>

    <!-- End Content -->

    <!-- 載入 footer.html -->
    <div th:insert="fragments/footer :: footer"></div>
    <footer></footer>

</main>


<!-- 載入 header.html js -->
<!--    <script>-->
<!--        // 創建一個函數來載入其他檔案的內容-->
<!--        function includeHTML() {-->
<!--            // 創建一個 XMLHttpRequest 物件來發送網路請求-->
<!--            var xhttp = new XMLHttpRequest();-->

<!--            // 當請求狀態改變時執行的函數-->
<!--            xhttp.onreadystatechange = function () {-->
<!--                // 當請求完成且成功返回資料時（狀態碼為 4，狀態 200 表示成功）-->
<!--                if (this.readyState == 4 && this.status == 200) {-->
<!--                    // 將返回的檔案內容插入到 id 為 "includedContent" 的 div 元素中-->
<!--                    document.getElementById("includedContent").innerHTML = this.responseText;-->
<!--                }-->
<!--            };-->

<!--            // 打開一個 GET 請求，載入指定檔案（假設要載入的檔案為 header.html）-->
<!--            xhttp.open("GET", "fragments/header.html", true);-->


<!--            // 發送網路請求-->
<!--            xhttp.send();-->
<!--            // 創建一個 XMLHttpRequest 物件來發送網路請求-->
<!--            var xhttp2 = new XMLHttpRequest();-->
<!--            xhttp2.onreadystatechange = function () {-->
<!--                if (this.readyState == 4 && this.status == 200) {-->
<!--                    document.getElementById("includfooter").innerHTML = this.responseText;-->
<!--                }-->
<!--            };-->
<!--            xhttp2.open("GET", "fragments/footer.html", true);-->
<!--            // 發送網路請求-->
<!--            xhttp2.send();-->
<!--        }-->

<!--        // 在頁面載入完成後呼叫 includeHTML 函數-->
<!--        window.onload = includeHTML;-->
<!--    </script>-->
<!--    <script src="./js/login.js"></script>-->
<script>
    // 沒按按鈕的顯示
    document.getElementById("mainpage").style.display = 'grid';
    document.getElementById("updateproduct").style.display = 'none';
    document.getElementById("orderlist").style.display = 'none';
    document.getElementById("memberlist").style.display = 'none';
    document.getElementById("productlist").style.display = 'none';
    // 按下按鈕得到指定div的id分別隱藏或顯示不同div
    function btn1() {
        // var mydiv="updateproduct";
        document.getElementById("mainpage").style.display = 'none';
        document.getElementById("updateproduct").style.display = 'grid';
        document.getElementById("orderlist").style.display = 'none';
        document.getElementById("memberlist").style.display = 'none';
        document.getElementById("productlist").style.display = 'none';

    }
    function btn2() {
        // var mydiv="orderlist";
        document.getElementById("mainpage").style.display = 'none';
        document.getElementById("updateproduct").style.display = 'none';
        document.getElementById("orderlist").style.display = 'grid';
        document.getElementById("memberlist").style.display = 'none';
        document.getElementById("productlist").style.display = 'none';
    }
    function btn3() {
        // var mydiv="memberlist";
        document.getElementById("mainpage").style.display = 'none';
        document.getElementById("updateproduct").style.display = 'none';
        document.getElementById("orderlist").style.display = 'none';
        document.getElementById("memberlist").style.display = 'grid';
        document.getElementById("productlist").style.display = 'none';
    }

    function btn4() {
        // var mydiv="memberlist";
        document.getElementById("mainpage").style.display = 'none';
        document.getElementById("updateproduct").style.display = 'none';
        document.getElementById("orderlist").style.display = 'none';
        document.getElementById("memberlist").style.display = 'none';
        document.getElementById("productlist").style.display = 'grid';
    }


</script>
<!------------------------------------以下是後端更改的部分-------------------------------------------------------------------->
<script>
    //訂單管理系統的BUTTUON控制
    $(document).ready(function(){
        //撿貨
        $(".button2").click(function(){
            var status1 = $(this).data("status");
            if(status1 === 3 || status1 === 4){
                alert("此訂單已經撿貨過或是已經出貨!");
            }
            else {
                var orderNumber = $(this).data("ordernumber");
                status1 = 3;
                $.post(
                    "orderManage",
                    {"status": status1, "orderNumber": orderNumber}
                )
            }

            setTimeout(function () {
                location.reload();
            }, 100);
        });
        //出貨
        $(".button1").click(function(){
            var status1 = $(this).data("status");
            if(status1 === 4){
                alert("此訂單已經出貨!");
            }else {
                var orderNumber = $(this).data("ordernumber");
                var Date1 = new Date();
                var shippedDate1 = Date1.getFullYear() + "-" + (Date1.getMonth() + 1) + "-" + Date1.getDate() + " " + Date1.getHours() + ":" + Date1.getMinutes() + ":" + Date1.getSeconds();
                var status1 = 4;
                $.post(
                    "orderManage",
                    {"status": status1, "shippedDate": shippedDate1, "orderNumber": orderNumber}
                )
            }
            setTimeout(function () {
                location.reload();
            }, 100);
        });
    });
</script>
<script>
    //會員管理頁面用
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#memberditail tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        $(".button0").click(function() {
            var username = $(this).data("username");
            $.post(
                "memberPerChange0",
                username
            )
            setTimeout(function () {
                location.reload();
            }, 100);
        });
        $(".button1").click(function() {
            var username = $(this).data("username");
            $.post(
                "memberPerChange1",
                username
            )
            setTimeout(function () {
                location.reload();
            }, 100);
        });
        $(".button2").click(function() {
            var username = $(this).data("username");
            $.post(
                "memberPerChange2",
                username
            )
            setTimeout(function () {
                location.reload();
            }, 100);
        });
    });
</script>

<script>
    //照片上傳和預覽
    $(document).ready(function() {

        //預覽
        $('#fileInput').on('change', function(e){
            var size= 5*1024*1024;
            var file = e.target.files[0];
            var imageType = /image.*/;
            if (file && file.type.match(imageType) && file.size < size) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#imagePreview').attr('src', e.target.result);
                    $('#imagePreview').show();
                }
                reader.readAsDataURL(file);
            }
            else{
                $('#fileInput').val('');
            }
        });



        $.getJSON("https://api.ipify.org?format=json", function(data) {
            $("#ip-address").text(data.ip);
        });

        // 获取服务器时间
        $.get("https://worldtimeapi.org/api/ip", function(data) {
            var serverTime = new Date(data.utc_datetime);
            $("#server-time").text(serverTime.toLocaleString());
        });
    });
</script>
<script>
    //後臺處理商品頁面
    $(".button5").click(function() {
        var remove = $(this).data("remove");
        event.preventDefault();
        $.ajax({
            type: 'POST',
            url: '/remove',
            data: {remove:$(this).data("remove")},
        })
        setTimeout(function () {
            location.reload();
        }, 100);
    });
    //商品搜尋
    $("#productsearch").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#productdetail tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
    //取編輯內容
    $(".button4").click(function() {
        event.preventDefault();
        $(".Ptablebox").show();
        $("#productlist").hide();
        $.ajax({
            type: "POST",
            url: "/edit",
            data: {pid:$(this).data("pid")},
            success:function (data){
                console.log(data)
                $("#eCommodityID").val(data.commodityID);
                $("#eCommodityName").val(data.commodityName);
                $("#eCommodityKind").val(data.commodityKind);
                $("#eSize").val(data.size);
                $("#eInventory").val(data.inventory);
                $("#ePrice").val(data.price);
                $("#eCost").val(data.cost);
                $("#eDetail").val(data.detail);
            }
        })
    })
    $("#Preset").click(function() {
        event.preventDefault();
        $(".Ptablebox").hide();
        $("#productlist").show();
    })

    //商品列表上下頁
    var ProwsPerPage = 9; // 每页行数
    var Prows = $('.productshow'); // 找到所有的行
    var PcurrentPage = 1; // 当前页码，初始化为第一页
    var Prowslength = Prows.length;

    // 根据当前页和每页行数显示相应的行
    function PshowRows() {
        var PstartIndex = (PcurrentPage - 1) * ProwsPerPage; // 计算起始索引
        var PendIndex = PstartIndex + ProwsPerPage; // 计算结束索引
        if (PstartIndex<Prowslength){
            Prows.hide().slice(PstartIndex, PendIndex).show(); // 隐藏所有行，然后显示当前页的行
        }else {
            PcurrentPage--;
            alert("請期待更多資料")
        }
    }
    // 初始显示第一页的内容
    PshowRows();
    // 当点击按钮时执行以下代码
    $('#PNextbtn').on('click', function() {
        PcurrentPage++; // 增加当前页码
        PshowRows(); // 显示下一页的行
    });
    $('#Previousbtn').on('click', function() {
        if (PcurrentPage===1){
            alert("您已經在第一頁了")
        }else {
            PcurrentPage--; // 減少当前页码
            PshowRows(); // 显示上一页的行
        }
    });

    //會員列表上下頁
    var rowsPerPage = 9; // 每页行数
    var rows = $('.membershow'); // 找到所有的行
    var currentPage = 1; // 当前页码，初始化为第一页
    var rowslength = rows.length;

    // 根据当前页和每页行数显示相应的行
    function showRows() {
        var startIndex = (currentPage - 1) * rowsPerPage; // 计算起始索引
        var endIndex = startIndex + rowsPerPage; // 计算结束索引
        if (startIndex<rowslength){
            rows.hide().slice(startIndex, endIndex).show(); // 隐藏所有行，然后显示当前页的行
        }else {
            currentPage--;
            alert("請期待更多資料")
        }
    }
    // 初始显示第一页的内容
    showRows();
    // 当点击按钮时执行以下代码
    $('#MNextbtn').on('click', function() {
        currentPage++; // 增加当前页码
        showRows(); // 显示下一页的行
    });
    $('#Mreviousbtn').on('click', function() {
        if (currentPage===1){
            alert("您已經在第一頁了")
        }else {
            currentPage--; // 減少当前页码
            showRows(); // 显示上一页的行
        }
    });

</script>
</body>


</html>