<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- header css -->
    <link rel="stylesheet" href="/css/allCss.css">
    <link rel="stylesheet" href="/css/memberpage.css">
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- jquery-ui -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <!-- 登入畫面字體 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">

</head>
<body >
<header th:insert="/fragments/header :: header"></header>

<section>
    <!--    含標題的全體內容-->
    <div >
        <!--    除標題以外的全體內容-->
        <section class="split">


            <!--        左邊資料-->
            <div  class="tablebox">
                <table th:each="member:${memberData}">
                    <tr>
                        <th>帳號:</th>
                        <td th:text="${member.getUsername()}">資料一</td>
                        <th class="tablespace">密碼:</th>
                        <td class="tablespace2" th:text="${member.getPassword()}">資料二</td>
                    </tr>

                    <tr>
                        <th>姓名:</th>
                        <td th:text="${member.getName()}">資料三</td>
                        <th class="tablespace">生日:</th>
                        <td class="tablespace2" th:text="${member.getBirth()}">資料四</td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                        <td th:text="${member.getEmail()}">資料七</td>
                        <th class="tablespace">手機:</th>
                        <td class="tablespace2" th:text="${member.getCellphone()}">資料六</td>
                    </tr>
                    <tr>
                        <th class="tablespace">領養經驗:</th>
                        <td class="tablespace2" th:text="${member.getAdpExp()}">資料八</td>
                        <th>居住坪數:</th>
                        <td class="tablespace2" th:text="${member.getMeter()}">資料九</td>
                    </tr>
                </table>

                <div>
                    <nav style="font-size: 2rem;font-weight: bold;padding-top: 40px">自我介紹:</nav>
                    <textarea cols="100" rows="5" th:text="${memberData.get(0).getIntro()}"></textarea>
                </div>
                <button class="savebtn">編輯</button>
            </div>
            <div class="tablebox" id="form1" style="display: none">
            <form  th:each="member:${memberData}" style="font-size: 20px">
                帳號:<input th:value="${member.getUsername()}" type="text">
                密碼:<input th:value="${member.getPassword()}" type="text"><br>
                姓名:<input th:value="${member.getName()}" type="text">
                生日:<input th:value="${member.getBirth()}" type="text"><br>
                email:<input th:value="${member.getEmail()}" type="text">
                手機:<input th:value="${member.getCellphone()}" type="text"><br>
                領養經驗:<input th:value="${member.getAdpExp()}" type="text">
                居住坪數:<input th:value="${member.getMeter()}" type="text"><br>
                自我介紹:<br><textarea cols="50" rows="6" th:text="${memberData.get(0).getIntro()}"></textarea>
                <input id="over" type="submit" value="更改">
                <input type="reset" value="清除">
            </form>
            </div>


            <!--        右邊頭像與按鈕-->
            <div class="straight2">
<!--                頭像-->
                <img th:src="${session.src}" class="headimg" id="imagePreview">
                <div class="threebtnpos">
                    <form method="post" enctype="multipart/form-data" action="/uploadImg">
                        <button class="threebtnstyle"><input type="file"  id="fileInput" name="fileInput" value="上傳頭像"  accept="image/*"></button>
                        <input type="submit" id="confirm" name="confirm"  value="確認">
                        <input type="reset" id="reset"  name="reset" value="清除">
                    </form>


                    <div class="split2">
                        <button class="threebtnstyle">領養上架</button>
                       <button class="threebtnstyle"><a href="/petlist">我要領養</a></button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<footer th:insert="/fragments/footer :: footer"></footer>


<script>
    $(document).ready(function() {
        $('#confirm').hide();
        $('#reset').hide();
        //預覽
        $('#fileInput').on('change', function(e) {
            var size= 5*1024*1024;
            var file = e.target.files[0];
            var imageType = /image.*/;
            if (file && file.type.match(imageType) && file.size < size) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#imagePreview').attr('src', e.target.result);
                    $('#imagePreview').show();
                    $('#confirm').show();
                    $('#reset').show();
                }
                reader.readAsDataURL(file);
            }
            else{
                alert("檔案過大(5MB)或發生其他錯誤無法上傳");
                $('#fileInput').val('');
            }

        });

        $('#confirm').click(function (){
            $('#confirm').hide();
            $('#reset').hide();
            setTimeout(function () {
                location.reload();
            }, 100);

        });
        $('#reset').click(function (){
            $('#imagePreview').attr('src','');
            $('#confirm').hide();
            $('#reset').hide();
        });
        //編輯基本資料
        $('.savebtn').click(function (){
            $('#form1').show();
        });
        $('#over').click(function (){
            $('#form1').hide();
        });

    });
</script>
</body>
</html>