<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- header css -->
    <link rel="stylesheet" href="/css/allCss.css">
    <link rel="stylesheet" href="/css/memberpage.css">
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- jquery-ui -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

    <!-- 登入畫面字體 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">

    <style>
        .custom-file-input {
            display: none; /* 隐藏默认的文件选择按钮 */
        }

    </style>
</head>
<body >
<header th:insert="/fragments/header :: header"></header>

<section>
    <!--    含標題的全體內容-->
    <div >
        <!--    除標題以外的全體內容-->
        <section class="split">


            <!--        左邊資料-->
            <div>
            <table  class="tablebox" id="showTable">
                <thead>
                    <tr>
                        <th colspan="4"></th>
                    </tr>
                </thead>
                <tbody th:each="member:${memberData}">
                    <tr>
                        <td>姓名:</td>
                        <td th:text="${member.getName()}">資料三</td>
                        <td class="tablespace">生日:</td>
                        <td class="tablespace2" th:text="${member.getBirth()}">資料四</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td th:text="${member.getEmail()}">資料七</td>
                        <td class="tablespace">手機:</td>
                        <td class="tablespace2" th:text="${member.getCellphone()}">資料六</td>
                    </tr>
                    <tr>
                        <td >領養經驗:</td>
                        <td  th:text="${member.getAdpExp()}">資料八</td>
                        <td class="tablespace">居住坪數:</td>
                        <td class="tablespace2" th:text="${member.getMeter()}">資料九</td><br>
                    </tr>
                    <tr>
                        <td style="font-size: 2rem;font-weight: bold;padding-top: 0px;vertical-align:text-top;">自我介紹:</td>
                        <td colspan="3"><textarea th:text="${member.getIntro()}" rows="6" cols="45"></textarea></td>
                    </tr>
                    <tr>
                        <td class="btntd" colspan="4"><button class="savebtn">編輯</button></td>
                    </tr>
                </tbody>
            </table>

            <div class="tablebox" id="form1" style="display: none">
            <form  th:each="member:${memberData}" style="font-size: 20px" action="memberpage" method="post">
                帳號:<input th:value="${member.getUsername()}" type="text" name="username">
                密碼:<input th:value="${member.getPassword()}" type="text" name="password"><br>
                姓名:<input th:value="${member.getName()}" type="text" name="name">
                生日:<input th:value="${member.getBirth()}" type="text" name="birth"><br>
                email:<input th:value="${member.getEmail()}" type="text" name="email">
                手機:<input th:value="${member.getCellphone()}" type="text" name="cellphone"><br>
                領養經驗:<input th:value="${member.getAdpExp()}" type="text" name="adpExp">
                居住坪數:<input th:value="${member.getMeter()}" type="text" name="meter"><br>
                自我介紹:<br><textarea cols="30" rows="1" th:text="${member.getIntro()}" name="Intro"></textarea>
                <input id="over" type="submit" value="更改">
            </form>
            </div>


            <!--        右邊頭像與按鈕-->
            <div class="straight2">
                <img th:src="${memberSrc}" class="headimg" id="imagePreview">
<!--                頭像-->
                <div class="threebtnpos">

                    <form method="post" enctype="multipart/form-data" action="/uploadImg">
                        <input type="file"  id="fileInput" name="fileInput" class="custom-file-input" accept="image/*">
                        <label class=" threebtnstyle" for="fileInput"  id="In2" style="border:2px solid black;">頭像上傳</label>
                        <div style="display: flex;">
                            <input type="submit" class=" threebtnstyle" id="confirm" name="confirm"  value="確認">
                            <input type="reset" class=" threebtnstyle" id="reset"  name="reset" value="清除">
                        </div>
                    </form>
                    <div class="split2">
                        <button class="threebtnstyle"><a class="aaa" href="/adopt">領養上架</a></button>
                       <button class="threebtnstyle"><a class="aaa" href="/petlist">我要領養</a></button>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<footer th:insert="/fragments/footer :: footer"></footer>


<script>
    $(document).ready(function() {
        $('#confirm').hide();
        $('#reset').hide();
        //預覽
        $('#fileInput').on('change', function(e) {
            var size= 5*1024*1024;
            var file = e.target.files[0];
            var imageType = /image.*/;
            if (file && file.type.match(imageType) && file.size < size) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    $('#imagePreview').attr('src', e.target.result);
                    $('#imagePreview').show();
                    $('#confirm').show();
                    $('#reset').show();
                    $('#In2').hide();
                }
                reader.readAsDataURL(file);
            }
            else{
                alert("檔案過大(5MB)或發生其他錯誤無法上傳");
                $('#fileInput').val('');
            }

        });

        $('#confirm').click(function (){
            $('#confirm').hide();
            $('#reset').hide();
            $('#In2').show();
            setTimeout(function () {
                location.reload();
            }, 100);

        });
        $('#reset').click(function (){
            $('#imagePreview').attr('src','');
            $('#confirm').hide();
            $('#reset').hide();
            $('#In2').show();
        });

        //編輯基本資料
        $('.savebtn').click(function (){
            $('#form1').fadeIn();
            $('#showTable').fadeOut();
        });
        $('#over').click(function (){
            $('#form1').fadeOut();
            $('#showTable').fadeIn();
        });

    });
</script>
</body>
</html>