<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
    <p th:text="${mesg}" id="mesg" style="display: none"></p>
    <p th:text="${session.username}" id="username" style="display: none"></p>
    <script>
        $(document).ready(function(){
            var mesg=$('#mesg').text();
            alert("註冊結果為:"+mesg);
            if(mesg==="註冊成功"){
                location.href=("/memberpage");
            }
            else{
                location.href=("/reg");
            }
        });


    </script>
</body>
</html>