<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/Resume_p.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
<div class="intro">
    <div class="left">
        <div class="photo">
            <div class="fix"></div>
        </div>
        <div class="edu"><i class="fa-solid fa-graduation-cap"></i><span> 學歷</span>
            <div class="line">
                <div class="year">2014-2018</div>
                <div class="school">亞洲大學</div>
                <div class="edulevel">大學 / 資訊傳播系</div>
            </div>
            <div class="line">
                <div class="year">2011-2014</div>
                <div class="school">華盛頓中學</div>
                <div class="edulevel">高中 / 普通科</div>
            </div>
        </div>
        <div class="skill"><i class="fa-solid fa-screwdriver-wrench"></i><span> 技能</span>
            <div class="line">
                <div class="skill_name">Java</div>
                <div class="skill_proficient">
                    <div class="LV2"></div>
                </div>
                <div class="skill_name">SQL</div>
                <div class="skill_proficient">
                    <div class="LV2"></div>
                </div>
                <div class="skill_name">Springboot</div>
                <div class="skill_proficient">
                    <div class="LV2"></div>
                </div>
                <div class="skill_name">HTML,CSS</div>
                <div class="skill_proficient">
                    <div class="LV2"></div>
                </div>
                <div class="skill_name">JavaScript</div>
                <div class="skill_proficient">
                    <div class="LV1"></div>
                </div>
                <div class="skill_name">PhotoShop</div>
                <div class="skill_proficient">
                    <div class="LV3"></div>
                </div>
                <div class="skill_name">OFFICE</div>
                <div class="skill_proficient">
                    <div class="LV3"></div>
                </div>
            </div>
        </div>
        <!--        <div class="learntime"><i class="fa-solid fa-clock"></i><span> 學習時間</span><br/>-->
        <!--            <div class="learnall">-->
        <!--                <div class="learn">Java-->
        <!--                    <div class="circle">-->
        <!--                        <div class="per"></div>-->
        <!--                        <div class="per90"></div>-->
        <!--                    </div><span>0%</span></div>-->
        <!--                <div class="learn">Kotlin-->
        <!--                    <div class="circle">-->
        <!--                        <div class="per"></div>-->
        <!--                        <div class="per45"></div>-->
        <!--                    </div><span>38%</span></div>-->
        <!--                <div class="learn">JS-->
        <!--                    <div class="circle">-->
        <!--                        <div class="per"></div>-->
        <!--                        <div class="per-47"></div>-->
        <!--                    </div><span>12%</span></div>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
    <div class="right">
        <div class="name">
            <div class="jf-openhuninn">簡翊恆 / Alex</div>
        </div>
        <div class="contact">
            <div class="phone"><i class="fa-solid fa-phone">0975459507</i></div>
            <div class="email"><i class="fa-solid fa-envelope">sa875249812@gmail.com</i></div>
        </div>
        <div class="profile"><i class="fa-solid fa-address-card"></i><span> 個人簡介</span><br/>
            <div class="con">我是簡翊恆，家庭成員有父母及妹妹，因家庭教育帶給我的影響很大，培養了我獨立思考的能力，尤其「正向思考」的觀念讓我在生活及工作中更能面對困境與挑戰。</div>
            <div class="con">大學就讀於亞洲大學資訊傳播學系，主修行銷學程，另外選修了創業以及攝影拍片學程，擁有photoshop、SSE、illustrator國際證照。<br>大二暑假參加大陸青年夏令營，與清華大學學生做交流，感受到他們展現積極的工作態度與主動表達意見的能力，讓人留下深刻的印象和啟發，在茫茫人海中想脫穎而出必須付出更多努力且充實自己。<br>大四專題發表微電影的拍攝作品，內容是以劇情懸疑片為主，而我主要負責的項目是演員徵選、與廠商租借場地的洽談，和幫助演員們解決需求問題。</div>
            <div class="con">畢業後曾擔任倉管人員、設備工程師、業務等行業; 由於之前在SI業任職業務，接洽的案子需要協助客戶開發軟體，在與工程師協調的過程中發現自己對於程式語言相當感興趣，便尋求了職訓局培訓課程的機會，學習Java語言的基本概念、物件導向設計的原則以及程式開發的實踐。這段培訓讓我學習到軟體開發的流程和編碼技能，雖然寫程式的實務經驗還不足，但設定了短期、中期及長期的目標去精進自己，期望能有機會成為貴公司的一員。</div >
            <div class="con"> </div>
            <div class="con"> </div>
        </div>
        <div class="workexp"><i class="fa-solid fa-briefcase"></i><span> 工作經驗</span><br/>
            <div class="line">
                <div class="year">2021/5 -2022/6 </div>
                <div class="com">大同世界科技股份有限公司</div>
                <div class="con">業務專員</div>
                <div class="con">資安軟體、server farm 規劃</div>
            </div>
            <div class="line">
                <div class="year">2021/3 - 2021/12</div>
                <div class="com">鴻越資訊有限公司</div>
                <div class="con">軟體規劃師</div>
                <div class="con">提案說明ERP、POS 系統</div>
            </div>
            <div class="line">
                <div class="year">2020/9 - 2021/2</div>
                <div class="com">劍橋科技股份有限公司</div>
                <div class="con">設備工程師</div>
                <div class="con">自動倉儲運輸車Error異常排除、校正</div>
            </div>
            <div class="line">
                <div class="year">2019/1 - 2020/4</div>
                <div class="com">大立光電股份有限公司</div>
                <div class="con">倉管事務員</div>
                <div class="con">品質、成品控管及出貨</div>
            </div>
        </div>
    </div>
</div>
<script src="/js/Resume.js"></script>
</body>
</html>