<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/Resume_p.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
<div class="intro">
    <div class="left">
        <div class="photo">
            <div class="fix"></div>
        </div>
        <div class="edu"><i class="fa-solid fa-graduation-cap"></i><span> 學歷</span>
            <div class="line">
                <div class="year">2015-2019</div>
                <div class="school">國立政治大學</div>
                <div class="edulevel">大學 / 應用數學系</div>
            </div>
            <div class="line">
                <div class="year">2012-2015</div>
                <div class="school">文華高中</div>
                <div class="edulevel">高中 / 普通科</div>
            </div>
        </div>
        <div class="skill"><i class="fa-solid fa-screwdriver-wrench"></i><span> 技能</span>
            <div class="line">
                <div class="skill_name">OFFICE</div>
                <div class="skill_proficient">
                    <div class="LV3"></div>
                </div>
                <div class="skill_name">HTML,CSS</div>
                <div class="skill_proficient">
                    <div class="LV2"></div>
                </div>
                <div class="skill_name">JavaScript</div>
                <div class="skill_proficient">
                    <div class="LV2"></div>
                </div>
                <div class="skill_name">SQL</div>
                <div class="skill_proficient">
                    <div class="LV3"></div>
                </div>
                <div class="skill_name">JAVA</div>
                <div class="skill_proficient">
                    <div class="LV4"></div>
                </div>
                <div class="skill_name">Math</div>
                <div class="skill_proficient">
                    <div class="LV3"></div>
                </div>
                <div class="skill_name">SpringBoot</div>
                <div class="skill_proficient">
                    <div class="LV3"></div>
                </div>
            </div>
        </div>
        <div class="learntime"><i class="fa-solid fa-clock"></i><span> 學習時間</span><br/>
            <div class="learnall">
                <div class="learn">Java
                    <div class="circle">
                        <div class="per"></div>
                        <div class="per90"></div>
                    </div><span>60%</span></div>
                <div class="learn">SpringBoot
                    <div class="circle">
                        <div class="per"></div>
                        <div class="per45"></div>
                    </div><span>28%</span></div>
                <div class="learn">JS
                    <div class="circle">
                        <div class="per"></div>
                        <div class="per-47"></div>
                    </div><span>12%</span></div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="name">
            <div class="jf-openhuninn">賴柏盛(p)</div>
        </div>
        <div class="contact">
            <div class="phone"><i class="fa-solid fa-phone"> +886 905 066183</i></div>
            <div class="email"><i class="fa-solid fa-envelope">abc23206996@gmail.com</i></div>
        </div>
        <div class="profile"><i class="fa-solid fa-address-card"></i><span> 個人簡介</span><br/>
            <div class="con"></div>
            <div class="con"></div>
            <div class="con"></div>
            <div class="con"> </div>
        </div>
        <div class="workexp"><i class="fa-solid fa-briefcase"></i><span> 工作經驗</span><br/>
            <div class="line">
                <div class="year"></div>
                <div class="com"></div>
                <div class="con">J</div>
                <div class="con"></div>
            </div>
            <div class="line">
                <div class="year"></div>
                <div class="com"></div>
                <div class="con"></div>
                <div class="con"></div>
                <div class="con"></div>
            </div>
            <div class="line">
                <div class="year"></div>
                <div class="com"></div>
                <div class="con"></div>
                <div class="con"></div>
            </div>
        </div>
    </div>
</div>
<script src="/js/Resume.js"></script>
</body>
</html>