<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/src/main/resources/static/css/Resume_p.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
<div class="intro">
    <div class="left">
        <div class="photo">
            <div class="fix"></div>
        </div>
        <div class="edu"><i class="fa-solid fa-graduation-cap"></i><span> 學歷</span>
            <div class="line">
                <div class="year">20013-2014</div>
                <div class="school">台中科技大學</div>
                <div class="edulevel">大學肄業 / 多媒體設計系</div>
            </div>
            <div class="line">
                <div class="year">2010-2013</div>
                <div class="school">崇實高工</div>
                <div class="edulevel">高職 / 室內設計科</div>
            </div>
        </div>
        <div class="skill"><i class="fa-solid fa-screwdriver-wrench"></i><span> 技能</span>
            <div class="line">
                <div class="skill_name">OFFICE</div>
                <div class="skill_proficient">
                    <div class="LV4"></div>
                </div>
                <div class="skill_name">HTML,CSS</div>
                <div class="skill_proficient">
                    <div class="LV2"></div>
                </div>
                <div class="skill_name">JavaScript</div>
                <div class="skill_proficient">
                    <div class="LV1"></div>
                </div>
                <div class="skill_name">Photoshop</div>
                <div class="skill_proficient">
                    <div class="LV4"></div>
                </div>
                <div class="skill_name">Figma</div>
                <div class="skill_proficient">
                    <div class="LV3"></div>
                </div>
                <div class="skill_name">AutoCad</div>
                <div class="skill_proficient">
                    <div class="LV2"></div>
                </div>
                <div class="skill_name">English</div>
                <div class="skill_proficient">
                    <div class="LV2"></div>
                </div>
            </div>
        </div>
        <div class="learntime"><i class="fa-solid fa-clock"></i><span> 學習時間</span><br/>
            <div class="learnall">
                <div class="learn">HTML,CSS
                    <div class="circle">
                        <div class="per"></div>
                        <div class="per90"></div>
                    </div><span>70%</span></div>
                <div class="learn">JS
                    <div class="circle">
                        <div class="per"></div>
                        <div class="per45"></div>
                    </div><span>10%</span></div>
                <div class="learn">Figma
                    <div class="circle">
                        <div class="per"></div>
                        <div class="per-47" ></div>
                    </div><span>20%</span></div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="name">
            <div class="jf-openhuninn">Chang lulu</div>
        </div>
        <div class="contact">
            <div class="phone"><i class="fa-solid fa-phone"> +886 92721310</i></div>
            <div class="email"><i class="fa-solid fa-envelope">yidongyidongyi@gmail.com</i></div>
        </div>
        <div class="profile"><i class="fa-solid fa-address-card"></i><span> 個人簡介</span><br/>
            <div class="con">我的名字叫做張晶晶，是家中的獨生女。性格內向溫和，喜歡動物與看書，行事風格上是碰到感興趣的領域會積極學習查找各種資源的類型。</div>
            <div class="con">從小到大在學期間我積極交朋友，認識了形形色色的人，培養了與人相處的能力，我雖然內向但喜歡與熟人聊天開玩笑，因此在團隊合作時也能與人好好相處。</div>
            <div class="con">高中職時期就讀室內設計系，學到了許多與平面設計和2D繪圖有關的技巧，也學習到了色彩心理和素描和工業繪圖等基本設計知識，培養了美感與空間感。</div>
            <div class="con">開始工作後在親戚的公司打工比較久一段時間，培養了一定的穩定性。</div>
        </div>
        <div class="workexp"><i class="fa-solid fa-briefcase"></i><span> 工作經驗</span><br/>
            <div class="line">
                <div class="year">2023/2 - 2023/9</div>
                <div class="com">DaisoJapan</div>
                <div class="con">晚班工讀生</div>
                <div class="con">對待客戶提供友善與快速的服務，每周在腦內更新幾百種商品的新位置，同時可使用英文與外國客人簡單溝通。</div>
            </div>
            <div class="line">
                <div class="year">2016/4 - 2022/12</div>
                <div class="com">廣遠醬料</div>
                <div class="con">行政/包裝員</div>
                <div class="con">輔助工廠老闆進行部分資料處理作業，操作機器做醬料包裝，</div>
                <div class="con">就職期間做事手腳快效率也高。</div>
            </div>
            
        </div>
    </div>
</div>
<script src="/js/Resume.js"></script>
</body>
</html>