<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/Resume_p.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
<div class="intro">
    <div class="left">
        <div class="photo">
            <div class="fix"></div>
        </div>
        <div class="edu"><i class="fa-solid fa-graduation-cap"></i><span> 學歷</span>
            <div class="line">
                <div class="year">2006-2011</div>
                <div class="school">台北科技大學</div>
                <div class="edulevel">大學 / 電機工程系</div>
            </div>
            <div class="line">
                <div class="year">2003-2006</div>
                <div class="school">桃園農工</div>
                <div class="edulevel">高職 / 電機科</div>
            </div>
        </div>
        <div class="skill"><i class="fa-solid fa-screwdriver-wrench"></i><span> 技能</span>
            <div class="line">
                <div class="skill_name">OFFICE</div>
                <div class="skill_proficient">
                    <div class="LV4"></div>
                </div>
                <div class="skill_name">HTML,CSS</div>
                <div class="skill_proficient">
                    <div class="LV2"></div>
                </div>
                <div class="skill_name">JavaScript</div>
                <div class="skill_proficient">
                    <div class="LV1"></div>
                </div>
                <div class="skill_name">Photoshop</div>
                <div class="skill_proficient">
                    <div class="LV3"></div>
                </div>
                <div class="skill_name">Premiere</div>
                <div class="skill_proficient">
                    <div class="LV3"></div>
                </div>
                <div class="skill_name">AE</div>
                <div class="skill_proficient">
                    <div class="LV2"></div>
                </div>
                <div class="skill_name">Java</div>
                <div class="skill_proficient">
                    <div class="LV3"></div>
                </div>
            </div>
        </div>
        <div class="learntime"><i class="fa-solid fa-clock"></i><span> 學習時間</span><br/>
            <div class="learnall">
                <div class="learn">Java
                    <div class="circle">
                        <div class="per"></div>
                        <div class="per90"></div>
                    </div><span>0%</span></div>
                <div class="learn">Kotlin
                    <div class="circle">
                        <div class="per"></div>
                        <div class="per45"></div>
                    </div><span>38%</span></div>
                <div class="learn">JS
                    <div class="circle">
                        <div class="per"></div>
                        <div class="per-47"></div>
                    </div><span>0%</span></div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="name">
            <div class="jf-openhuninn">Janson Lee</div>
        </div>
        <div class="contact">
            <div class="phone"><i class="fa-solid fa-phone"> +886 935 123456</i></div>
            <div class="email"><i class="fa-solid fa-envelope">janson04@gmail.com</i></div>
        </div>
        <div class="profile"><i class="fa-solid fa-address-card"></i><span> 個人簡介</span><br/>
            <div class="con">我的名字叫做李易展，家中有爸爸、媽媽及一個姊姊，而我則是家中最小的那個。從小爸爸媽媽不分大小，都是同等的對待，所以我雖排行最小，但其實還是養成我獨立自主的習慣。而家中風氣則是民主式的教育，一切的決定，只會給意見而不會干涉，這也養成我另一個個性，就是懂得分析及自我判斷的習慣，使得我在同輩當中，常顯得對任何事情有更深一步的了解。而就經濟而言，家裏方面通常沒有很多的物質享受，至小被影響成擁有個節儉的好習慣。</div>
            <div class="con">在小學期間我是個很努力的小孩，那時候的我也很喜愛運動，因為個性隨和的關係，也擁有了許多朋友。</div>
            <div class="con">到了國中在理工方面的科目特別突出，常常被選為小老師，那時候我也搭上了網路這塊熱潮，接觸了電腦，使得成為我的一個興趣。</div>
            <div class="con">高職時期，由於校風的關係，課業不會很重，所以電腦這塊興趣，我有了很多時間可以摸索，也加入相關的社團。也因為凡事都想學習，實習方面能力不錯，所以被學校推派為技藝競賽的選手，而我也不負眾望的抱回金手獎。 </div>
        </div>
        <div class="workexp"><i class="fa-solid fa-briefcase"></i><span> 工作經驗</span><br/>
            <div class="line">
                <div class="year">2023/4 - 至今</div>
                <div class="com">關貿網路股份有限公司</div>
                <div class="con">Java軟體工程師</div>
                <div class="con">擅長Java的全端工程師，Spring / Mybatis / Oracle DB / MySQL等</div>
            </div>
            <div class="line">
                <div class="year">2015/4 - 2022/3</div>
                <div class="com">磁通磁性科技股份有限公司</div>
                <div class="con">電子商務課 MIS</div>
                <div class="con">善加利用自身的程式基礎，加上不斷進步的網路相關知識，幫公司創造穩定成長的營業額。</div>
                <div class="con">平均每年提升30%的營運業績。</div>
            </div>
            <div class="line">
                <div class="year">2010/7 - 2011/7</div>
                <div class="com">漢衛科技股份有限公司</div>
                <div class="con">研發工讀生</div>
                <div class="con">協助研發工程師進行相關的測試，及維修損壞的LED燈具及監視保全。</div>
            </div>
        </div>
    </div>
</div>
<script src="/js/Resume.js"></script>
</body>
</html>