<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/Resume_p.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
<div class="intro">
    <div class="left">
        <div class="photo">
            <div class="fix"></div>
        </div>
        <div class="edu"><i class="fa-solid fa-graduation-cap"></i><span> 學歷</span>
            <div class="line">
                <div class="year">2015-2019</div>
                <div class="school">國立政治大學</div>
                <div class="edulevel">大學 / 應用數學系</div>
            </div>
            <div class="line">
                <div class="year">2012-2015</div>
                <div class="school">文華高中</div>
                <div class="edulevel">高中 / 普通科</div>
            </div>
        </div>
        <div class="skill"><i class="fa-solid fa-screwdriver-wrench"></i><span> 技能</span>
            <div class="line">
                <div class="skill_name">OFFICE</div>
                <div class="skill_proficient">
                    <div class="LV3"></div>
                </div>
                <div class="skill_name">HTML,CSS</div>
                <div class="skill_proficient">
                    <div class="LV2"></div>
                </div>
                <div class="skill_name">JavaScript</div>
                <div class="skill_proficient">
                    <div class="LV2"></div>
                </div>
                <div class="skill_name">SQL</div>
                <div class="skill_proficient">
                    <div class="LV3"></div>
                </div>
                <div class="skill_name">JAVA</div>
                <div class="skill_proficient">
                    <div class="LV4"></div>
                </div>
                <div class="skill_name">Math</div>
                <div class="skill_proficient">
                    <div class="LV3"></div>
                </div>
                <div class="skill_name">SpringBoot</div>
                <div class="skill_proficient">
                    <div class="LV3"></div>
                </div>
            </div>
        </div>
        <div class="learntime"><i class="fa-solid fa-clock"></i><span> 學習時間</span><br/>
            <div class="learnall">
                <div class="learn">Java
                    <div class="circle">
                        <div class="per"></div>
                        <div class="per90"></div>
                    </div><span>60%</span></div>
                <div class="learn">SpringBoot
                    <div class="circle">
                        <div class="per"></div>
                        <div class="per45"></div>
                    </div><span>28%</span></div>
                <div class="learn">JS
                    <div class="circle">
                        <div class="per"></div>
                        <div class="per-47"></div>
                    </div><span>12%</span></div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="name">
            <div class="jf-openhuninn">賴柏盛(小p)</div>
        </div>
        <div class="contact">
            <div class="phone"><i class="fa-solid fa-phone"> +886 905 066183</i></div>
            <div class="email"><i class="fa-solid fa-envelope">abc23206996@gmail.com</i></div>
        </div>
        <div class="profile"><i class="fa-solid fa-address-card"></i><span> 個人簡介</span><br/>

            <div class="con">歡迎參觀我們的網站！我本名為賴柏盛，綽號叫做小p，是一名土生土長的台中人，在這個網站中，負責的是帳密註冊和員工後台管理的後端系統邏輯部分。</div>
            <div class="con">本身對於程式設計領域接觸的時間其實不長，除了這次專案所參與的職訓班外，只有在大學時期有修習過別的科系所開的一些學期課，包含資料結構和python基礎課程。</div>
            <div class="con">這次職訓本來是為了想努力去彌補自己的不足之處、讓自己能夠與社會所需求的能力更加接近一些，好尋找一些相關的工作；結果卻發現程式語言無窮無盡，只讓自己更加感覺到</div>
            <div class="con">自己的不足。但還是希望能夠先找到一份能夠一邊繼續學習精進新技術、又能一邊取得經驗資歷的工作，讓自己慢慢朝著厲害的全端工程師這個目標努力前進！</div>
        </div>
        <div class="workexp"><i class="fa-solid fa-briefcase"></i><span>工作與學習經歷</span><br/>
            <div class="line">
                <div class="year">2018/7-2018/12</div>
                <div class="com">方程補習班</div>
                <div class="con">班級助教</div>
                <div class="con">負責輔助各年級班導(國小-高中)處理行政事務、為各年級學生課後進行輔導與處理日常行政事務</div>
            </div>
            <div class="line">
                <div class="year">2019/11-2020/3</div>
                <div class="com"></div>
                <div class="con"></div>
                <div class="con"></div>
            </div>
            <div class="line">
                <div class="year">2021/3-2023/7</div>
                <div class="com">三民輔考</div>
                <div class="con">高考考生</div>
                <div class="con">經過一年的自學考公職，發現完全無法依靠大學所學的粗淺知識</div>
            </div>
        </div>
    </div>
</div>
<script src="/js/Resume.js"></script>
</body>
</html>