<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/Resume_p.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
<div class="intro">
    <div class="left">
        <div class="photo">
            <div class="fix"></div>
        </div>
        <div class="edu"><i class="fa-solid fa-graduation-cap"></i><span> 學歷</span>
            <div class="line">
                <div class="year">2019-2022</div>
                <div class="school">國立彰化師範大學</div>
                <div class="edulevel">大學 / 工業教育與技術學系</div>
            </div>
            <div class="line">
                <div class="year">2017-2019</div>
                <div class="school">台中高工</div>
                <div class="edulevel">高職 / 控制科</div>
            </div>
        </div>
        <div class="skill"><i class="fa-solid fa-screwdriver-wrench"></i><span> 技能</span>
            <div class="line">
                <div class="skill_name">JAVA</div>
                <div class="skill_proficient">
                    <div class="LV2"></div>
                </div>
                <div class="skill_name">HTML,CSS</div>
                <div class="skill_proficient">
                    <div class="LV1"></div>
                </div>
                <div class="skill_name">JavaScript</div>
                <div class="skill_proficient">
                    <div class="LV1"></div>
                </div>
                <div class="skill_name">OFFICE</div>
                <div class="skill_proficient">
                    <div class="LV3"></div>
                </div>

            </div>
        </div>
        <div class="learntime"><i class="fa-solid fa-clock"></i><span> 學習時間</span><br/>
            <div class="learnall">
                <div class="learn">Java
                    <div class="circle">
                        <div class="per"></div>
                        <div class="per90"></div>
                    </div><span>50%</span></div>
                <div class="learn">HTML,CSS
                    <div class="circle">
                        <div class="per"></div>
                        <div class="per45"></div>
                    </div><span>38%</span></div>
                <div class="learn">JS
                    <div class="circle">
                        <div class="per"></div>
                        <div class="per-47"></div>
                    </div><span>12%</span></div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="name">
            <div class="jf-openhuninn">張吉毅</div>
        </div>
        <div class="contact">
            <div class="phone"><i class="fa-solid fa-phone"> +886 965 732870</i></div>
            <div class="email"><i class="fa-solid fa-envelope">bet654321@gmail.com</i></div>
        </div>
        <div class="profile"><i class="fa-solid fa-address-card"></i><span> 個人簡介</span><br/>
            <div class="con">我的名字叫做張吉毅，
                張吉毅，你好！

                我是一位畢業於國立彰化師範大學工業教育與技術學系的學生，同時也畢業於台中高工控制科。我的專業技能主要包括 Python 和 Java 兩種程式語言，並且取得了工業儀器相關的證照。</div>
            <div class="con">在大學期間，我致力於電力附載預測的專題研究，應用 Python 技術進行相關預測工作，這個經歷不僅深化了我對軟體開發的理解，也提升了我的問題解決能力。在高中時，我進行了一個以三菱PLC應用為主題的研究專題，培養了我對控制科技的浓厚興趣。這個經歷讓我更深入地了解了自己所學的專業領域。</div>
            <div class="con">近期，我參與了一個 Java 開發專題，專注於模擬寵物領養系統的開發。這次的專案不僅提高了我的程式設計能力，更強化了我的團隊協作技能，因為我是與團隊合作開發的一員。</div>
            <div class="con">未來，我的學習方向將持續深化在 Java 相關課程，並且尋求軟體相關行業的就業機會。我的發展目標是成為一位具有豐富程式設計經驗的專業人才，致力於追求資訊科技產業的發展，同時保持不斷進修以與業界技術同步。 </div>
        </div>
        <div class="workexp"><i class="fa-solid fa-briefcase"></i><span> 工作經驗</span><br/>
            <div class="line">
                <div class="year">2022 - 2023</div>
                <div class="com">巨匠電腦</div>
                <div class="con">硬體維修工讀生</div>
                <div class="con">負責上課學員的使用設備教學與維護</div>
            </div>
            <div class="line">
                <div class="year">2020-2022</div>
                <div class="com">茶湯會</div>
                <div class="con">內場人員</div>
                <div class="con">學習飲料的調製與負責任的態度</div>
                <div class="con">透過打工的經驗，讓自己能夠懂得工作上的細節，訓練自己對於突發狀況能有最佳的處理方式</div>
            </div>

        </div>
    </div>
</div>
<script src="/js/Resume.js"></script>
</body>
</html>