<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/Resume_p.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
<div class="intro">
    <div class="left">
        <div class="photo">
            <div class="fix"></div>
        </div>
        <div class="edu"><i class="fa-solid fa-graduation-cap"></i><span> 學歷</span>
            <div class="line">
                <div class="year">2003-2008</div>
                <div class="school">靜宜大學</div>
                <div class="edulevel">大學 / 食品營養學系</div>
            </div>
            <div class="line">
                <div class="year">2000-2003</div>
                <div class="school">國立中興高級中學</div>
                <div class="edulevel">普通高中 / 普通科</div>
            </div>
        </div>
        <div class="skill"><i class="fa-solid fa-screwdriver-wrench"></i><span> 技能</span>
            <div class="line">
                <div class="skill_name">OFFICE</div>
                <div class="skill_proficient">
                    <div class="LV4"></div>
                </div>
                <div class="skill_name">HTML,CSS</div>
                <div class="skill_proficient">
                    <div class="LV1"></div>
                </div>
                <div class="skill_name">MYSQL</div>
                <div class="skill_proficient">
                    <div class="LV3"></div>
                </div>
                <div class="skill_name">MariaDB</div>
                <div class="skill_proficient">
                    <div class="LV3"></div>
                </div>
                <div class="skill_name">MongoDB</div>
                <div class="skill_proficient">
                    <div class="LV2"></div>
                </div>
                <div class="skill_name">Java</div>
                <div class="skill_proficient">
                    <div class="LV2"></div>
                </div>
            </div>
        </div>
        <div class="learntime"><i class="fa-solid fa-clock"></i><span> 學習時間</span><br/>
            <div class="learnall">
                <div class="learn">Java
                    <div class="circle">
                        <div class="per"></div>
                        <div class="per90"></div>
                    </div><span>20%</span></div>
                <div class="learn">MySQL
                    <div class="circle">
                        <div class="per"></div>
                        <div class="per45"></div>
                    </div><span>35%</span></div>
                <div class="learn">MongoDB
                    <div class="circle">
                        <div class="per"></div>
                        <div class="per-47"></div>
                    </div><span>15%</span></div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="name">
            <div class="jf-openhuninn">紀映竹 / Norin Ji</div>
        </div>
        <div class="contact">
            <div class="phone"><i class="fa-solid fa-phone"> +886 911821147</i></div>
            <div class="email"><i class="fa-solid fa-envelope">norinharu@gmail.com</i></div>
        </div>
        <div class="profile"><i class="fa-solid fa-address-card"></i><span> 個人自介</span><br/>
            <div class="con">您好，我是紀映竹（Norin），我是個擁有多種跨領域經驗的專業人士。 除了本身喜歡吃美食及下廚，從小受到嬸嬸是職訓單位廚藝講師的啟發，我早早就開始接觸菜品製作的藝術。隨著年歲增長，我深深感受到飲食與生活的密不可分，這也促使我選擇了大學主修食品營養學系，以深入研究飲食對身體的影響。
                在連鎖餐飲業的工作歲月中，我不僅擔任了教育訓練和統籌設計的職務，更主導了菜單研發、成本控管、人員技能教育訓練以及店面缺失的調整修正。這段豐富的經歷不僅讓我在菜單研發及教育訓練上表現卓越，更培養了我卓越的管理和領導技能。</div>
            <div class="con">同時，我也在客服領域中取得了不錯的成績，尤其在服務和銷售方面，展現了出色的表現。我理解並重視良好的客戶體驗對於企業的重要性，並以此為基準努力提升。</div>
            <div class="con">在餐飲行業中，我主要負責面試所需人才，並完整教育、提供全面的訓練方案，適才安排員工的晉升管道。因此，我積極提升自己的管理技巧和談判溝通技巧，並進一步深入學習心理學和人格特質相關資訊，以更好地協助工作。我更加重視團隊合作的重要性，同時注重日程時間的合理安排與分配。</div>
            <div class="con">由於服務業的長時間工作且缺乏私人時間，我考慮轉職至資訊科技領域，並預計於2023年底進修轉職。剛好有機會，便選擇參與JAVA全端網頁工程師的職訓課程，並意外地發現了對DBA資料庫管理師工作的興趣。
                我希望在資訊科技領域與夥伴們合作，並持續專研資料庫相關知識。 </div>
            <div class="con">在工作規畫方面：

                短期內希望能做到融入團隊並達到公司所設定的KPI，並配合公司的政策目標，持續成長。

                因資訊科技領域日新月異，持續的進修養成是必須的，中期階段會除了達成公司的KPI外，持續吸收最新的資訊，完善自己的專業能力，並有能力提供改善計畫給公司參考，逐步晉升成熟自己的專業範疇。

                長期持續深耕專業技能，讓自己可以成為一個成熟可獨立作業，且能發揮管理所長管理團隊持續成長，能對公司盡自己最大的能力。

                此外，我持有中餐丙級技術士證照，並熟練使用Office軟體，包括Word、Excel和PowerPoint。透過這樣豐富的經歷和學習歷程，我期待著在資訊科技領域中繼續挑戰自我，並貢獻我的專業和熱情。</div>
        </div>
        <div class="workexp"><i class="fa-solid fa-briefcase"></i><span> 工作經驗</span><br/>
            <div class="line">
                <div class="year">2022/3~2023/6</div>
                <div class="com">顯榮國際電話專業客服中心_顯榮國際股份有限公司（100~500人）</div>
                <div class="con">大夜班專線客服</div>
                <div class="con">電話客服，全體客服服務成績前5%</div>
            </div>
            <div class="line">
                <div class="year">2015/9~2017/1</div>
                <div class="com">雜咖-合縱文化集團（餐館業 500人以上）</div>
                <div class="con">教育/營運總監</div>
                <div class="con">品牌品質品管設定/教育訓練課程安排及制定/作業流程設定/外場服務流程及內場餐點控管及吧檯飲品品質控管</div>
                <div class="con">一年展店100間</div>
            </div>

        </div>
    </div>
</div>
<script src="/js/Resume.js"></script>
</body>
</html>