<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/Resume_p.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
</head>
<body>
<div class="intro">
    <div class="left">
        <div class="photo">
            <div class="fix"></div>
        </div>
        <div class="edu"><i class="fa-solid fa-graduation-cap"></i><span> 學歷</span>
            <div class="line">
                <div class="year">2003-2006</div>
                <div class="school">新民高中</div>
                <div class="edulevel">高職夜校 / 資料處理科</div>
            </div>
        </div>
        <div class="skill"><i class="fa-solid fa-screwdriver-wrench"></i><span> 技能</span>
            <div class="line">
                <div class="skill_name">Java</div>
                <div class="skill_proficient">
                    <div class="LV4"></div>
                </div>
                <div class="skill_name">SQL</div>
                <div class="skill_proficient">
                    <div class="LV3"></div>
                </div>
                <div class="skill_name">SpringBoot</div>
                <div class="skill_proficient">
                    <div class="LV3"></div>
                </div>
                <div class="skill_name">jQuery</div>
                <div class="skill_proficient">
                    <div class="LV3"></div>
                </div>
                <div class="skill_name">OFFICE</div>
                <div class="skill_proficient">
                    <div class="LV3"></div>
                </div>
                <div class="skill_name">HTML,CSS</div>
                <div class="skill_proficient">
                    <div class="LV2"></div>
                </div>
                <div class="skill_name">JavaScript</div>
                <div class="skill_proficient">
                    <div class="LV2"></div>
                </div>
            </div>
        </div>
<!--        <div class="learntime"><i class="fa-solid fa-clock"></i><span> 學習時間</span><br/>-->
<!--            <div class="learnall">-->
<!--                <div class="learn">Java-->
<!--                    <div class="circle">-->
<!--                        <div class="per"></div>-->
<!--                        <div class="per90"></div>-->
<!--                    </div><span>0%</span></div>-->
<!--                <div class="learn">Kotlin-->
<!--                    <div class="circle">-->
<!--                        <div class="per"></div>-->
<!--                        <div class="per45"></div>-->
<!--                    </div><span>38%</span></div>-->
<!--                <div class="learn">JS-->
<!--                    <div class="circle">-->
<!--                        <div class="per"></div>-->
<!--                        <div class="per-47"></div>-->
<!--                    </div><span>12%</span></div>-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <div class="right">
        <div class="name">
            <div class="jf-openhuninn">孫偉庭 // Nick</div>
        </div>
        <div class="contact">
            <div class="phone"><i class="fa-solid fa-phone"> 0987-319-759</i></div>
            <div class="email"><i class="fa-solid fa-envelope">heartbeat329@icloud.com</i></div>
        </div>
        <div class="profile"><i class="fa-solid fa-address-card"></i><span> 個人簡介</span><br/>
            <div class="con">我是孫偉庭，家中為單親且缺少兄弟姊妹。從高中開始，出於家庭經濟的考量，我選擇了半工半讀，並在畢業後提早參與兵役，這樣的決定讓我在社會上早早地接觸各種挑戰。這樣的環境培養了我獨立解決問題的個性，使我懂得透過努力找到答案來克服各種困難。</div><br>
            <div class="con">在進入社會後，我參與過餐飲、銷售門市、網拍、客服和業務等多個領域的工作，儘管這些工作多半具有取代性的性質。 然而，一次偶然的機會讓我接觸到了公司報表整理的工作，為了提高效率，我主動學習程式語言並開發小程式，成功地簡化了公司的作業流程。</div><br>
            <div class="con">這段經歷讓我逐漸發現，我對程式設計擁有濃厚的興趣和潛力。這股熱情驅使我離開銀行工作，參加政府的職訓課程，正規學習Java與前端相關的語言。在學習過程中，我樂於協助其他同學解決問題，同時不斷提升自己的Debug能力。這段學習經歷不僅讓我掌握了如何設計和開發實用的程式，也能夠將我在多個產業的經歷應用於程式開發，提供更具深度的解決方案。</div><br>
            <div class="con">現在，我渴望將我的興趣轉化為職業，並將所學到的技能應用於實際的工作中。我擁有解決問題的技能、對學習的熱情，以及對新技術的好奇心。期待能成為團隊中不可或缺的一員，願意不斷學習，迎接這個快速發展且充滿挑戰的領域中的成長。
                待過客服工作超過三年，對於他人想法善於利用換位思考的角度去理解和解決問題
                不易與他人起衝突，不管是與同事或者客戶都可以相處融洽。
                謝謝您耐心的看完，有機會可以詳談其他相關細節，謝謝</div>
        </div>
        <div class="workexp"><i class="fa-solid fa-briefcase"></i><span> 工作經驗</span><br/>
            <div class="line">
                <div class="year">2023/5 - 2023/9</div>
                <div class="com">台北富邦銀行</div>
                <div class="con">貸款專員</div>
                <div class="con">提供貸款諮詢、評估服務</div>
            </div>
            <div class="line">
                <div class="year">2019/11 - 2023/4</div>
                <div class="com">知品網路有限公司</div>
                <div class="con">客服專員</div>
                <div class="con">透過文字或電話協助客戶排障、處理問題並同步完成案件紀錄</div>
            </div>
            <div class="line">
                <div class="year">2018/4 - 2019/7</div>
                <div class="com">千奇國際精品</div>
                <div class="con">網路人員</div>
                <div class="con">ERP、庫存管理、網拍商品管理</div>
            </div>
        </div>
    </div>
</div>
<script src="/js/Resume.js"></script>
</body>
</html>