<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>購物車畫面</title>

  <link rel="stylesheet" href="/css/allCss.css">
  <link rel="stylesheet" href="/css/shoppingcart.css">

  <!-- jquery js -->
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>

  <!-- bootstrap js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>


</head>

<body class="cart_bg1">
  <!-- 載入 header.html -->
  <div th:insert="fragments/header :: header"></div>
  <main>
    <!-- Start Content -->
    <div class="container" style="display: block;">
      <div class="row mb-5">
        <form class="col-md-12 py-5" method="get">
          <div class="site-blocks-table m-auto">
            <h2 class="text-center pb-4">Shopping Cart</h2>
            <div class="cart_table2">
              <table class="table2 col-md-12 col-md-12 col-sm-auto" >
                <thead>
                  <tr class="cart_table2_tr col-sm-auto">
                    <th class="product-thumbnail">圖片</th>
                    <th class="product-name">商品名稱</th>
                    <th class="product-price">規格</th>
                    <th class="product-quantity">單價</th>
                    <th class="product-total">數量</th>
                    <th class="product-remove">總計</th>
                    <th class="product-remove">刪除商品</th>
                  </tr>
                </thead>

                <tbody>
                  <!-- 商品開始 -->
                  <tr class="cart_table2_tr2" th:each="cart:${carts}">
                    <td class="product-thumbnail">
                      <a th:href="'/shopping-single?id='+${cart.getCommodityID()}"><img th:src="${cart.getImageBytes()}" alt="Image" class="img-fluid"></a>
                    </td>
                    <td class="product-name">
                      <h3 class="text-black" th:text="${cart.getCommodityName()}">Ever-Clean-美規藍鑽白標雙重活性碳低敏25磅L</h3>
                    </td>
                    <td>
                      <h3 th:text="${cart.getSize()}">S</h3>
                    </td>
                    <td>
                      <h3 th:text="${cart.getPrice()}">100元</h3>
                    </td>
                    <td>
                      <div class="input-group mb-3 d-flex align-items-center quantity-container m-auto"
                        style="max-width: 120px;">
                        <div class="input-group-prepend">
                          <button class="btn btn-outline-black decrease" type="button" th:attr="data-method='-',data-pid=${cart.getCommodityID()}"><span
                              style="font-size: 1.5rem;">&minus;</span></button>
                        </div>
                        <input type="text" class="form-control text-center quantity-amount" th:value="${cart.getComQuantity()}" placeholder=""
                          aria-label="Example text with button addon" aria-describedby="button-addon1">
                        <div class="input-group-append">
                          <button class="btn btn-outline-black increase" type="button" th:attr="data-method='+',data-pid=${cart.getCommodityID()}"><span
                              style="font-size: 1.5rem;">&plus;</span></button>
                        </div>
                      </div>
                    </td>
                    <td>
                      <h3 th:text="${cart.getAmount()}" class="Amount">$49.00元</h3>
                    </td>
                    <td><a href="#" class="btn btn-black btn-sm deletebtn" th:attr="data-pid=${cart.getCommodityID()}">
                        <h5>X</h5>
                      </a></td>
                  </tr>

                  <!-- 商品結束 -->


                </tbody>
              </table>


              <div class="col-11 pt-5 m-auto">
                <div class="row justify-content-between align-items-end ">
                  
                  <div class="col-md-2 mb-5 order-lg-first ">
                    <div class="row">
                      <a href="/shopping" class="cart_btn">返回購物</a>
                    </div>

                  </div>

                  <div class="col-md-5 mb-5 order-sm-first ">
                    <div class="row">
                      <div class="col-md-12 ">
                        <h3 class="text-end">總計</h3>
                        <p class="text-end" style="font-size: 2rem; font-weight: 600;" id="totalAmount">$99999</p>
                      </div>
                    </div>
                    
                    <div class="row">
                      <a href="/shopping" class="cart_btn">結帳</a>
                    </div>
                  </div>                  
                </div>
              </div>
            </div>
          </div>
      </div>
      </form>
    </div>
    </div>


    <!-- End Content -->
    <!-- 載入 footer.html -->
    <div th:insert="fragments/footer :: footer"></div>
  </main>


  <!-- 載入 header.html js -->
  <script>
    // 創建一個函數來載入其他檔案的內容
    function includeHTML() {
      // 創建一個 XMLHttpRequest 物件來發送網路請求
      var xhttp = new XMLHttpRequest();

      // 當請求狀態改變時執行的函數
      xhttp.onreadystatechange = function () {
        // 當請求完成且成功返回資料時（狀態碼為 4，狀態 200 表示成功）
        if (this.readyState == 4 && this.status == 200) {
          // 將返回的檔案內容插入到 id 為 "includedContent" 的 div 元素中
          document.getElementById("includedContent").innerHTML = this.responseText;
        }
      };

      // 打開一個 GET 請求，載入指定檔案（假設要載入的檔案為 header.html）
      xhttp.open("GET", "fragments/header.html", true);


      // 發送網路請求
      xhttp.send();
      // 創建一個 XMLHttpRequest 物件來發送網路請求
      var xhttp2 = new XMLHttpRequest();
      xhttp2.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById("includfooter").innerHTML = this.responseText;
        }
      };
      xhttp2.open("GET", "fragments/footer.html", true);
      // 發送網路請求
      xhttp2.send();
    }

    // 在頁面載入完成後呼叫 includeHTML 函數
    window.onload = includeHTML;
  </script>
  <script src="./js/login.js"></script>
  <script>
    $(document).ready(function (){
      //刪除購物車
      $('.deletebtn').click(function() {
        $.ajax({
          type: 'POST',
          url: 'deletecat',
          data: {id: $(this).data('pid')},
          success: function(response) {
            alert(response)
          }
        });
        flash(function (){

        })
        // location.reload();//重整
        this.preventDefault();//不跳轉A標籤
      });
      //修改數量
      $('.btn-outline-black').click(function() {
        $.ajax({
          type: 'POST',
          url: 'updateqnum',
          data: {id: $(this).data('pid'),method:$(this).data('method')},
          success: function(response) {
          }
        });
        flash(function (){
        });
        // location.reload();//重整
      });
      //總計
      var totalAmount=0;
      $(".Amount").each(function() {
        var amountNumber = parseInt($(this).text(), 10);
        // 验证是否是有效的数字
        if (!isNaN(amountNumber)) {
          totalAmount += amountNumber;
        }
      });
      $("#totalAmount").text("$"+totalAmount)
    })
    function flash(){
      setTimeout(function(){
        location.reload();
      },10);
    }
  </script>
</body>

</html>